
@use "variables" as v;

/* --- RESPONSIVE --- */
/* Sticky header solo en escritorio */
@media (min-width: 768px) {
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%; 
  }
  main {
    padding-top: 10px;
  }
  .descuentos p {
    font-size: 22px;
  }

}
@media (max-width: 767px) {
  /* Menú vertical en móvil */
    header {
    position: relative;
    z-index: 1000;
    }
  .menu ul {
    display: none;
    /* position: fixed; */
    top: 80%;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    background: #2e1f27;
    padding: 10px 20px;
    width: 100%;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
  }
  .menu-icon {
    display: block;
    color: #fff; 
    margin-left: auto;
    align-self: center;
    cursor: pointer; 
  }
   .menu-toggle:checked ~ ul {
    display: flex;
  }

  #logo {
    width: 80px;
  }

  #naming-negocio {
    font-size: 24px;
    flex: 1;
  }
  .buscador {
    max-width: 150px; /* más pequeño en móvil */
  }

  .buscador input[type="search"] {
    padding: 6px 10px;
    font-size: 0.9rem;
  }

  .buscador button {
    padding: 6px 10px;
    font-size: 1rem;
  }
  .descuentos p {
    font-size: 10px;
  }
  body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
  .main {
    display: grid;
    grid-template-areas: 
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    gap: 0.5rem;
    }
  h3 {
    text-align: center;
  }
.imagen-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}
.white-box {
    bottom: 4px;
    left: 8px;
    right: 8px;
    padding: 6px 10px;
  }
footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en móviles */
    gap: 1rem;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .footer-col {
    grid-column: span 1;
  }
  .footer-social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap; /* que se ajusten si no caben */
    width: 100%; /* aseguramos que no se desborde */
  }
  .footer-social nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .whatsapp {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 60px;
  height: auto;
  z-index: 1000;
}

}