
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$FuenteTerra: 'Dancing Script', cursive;
$Fuente: 'Montserrat', sans-serif;
$ColorFondo: #f5f1f1;
$ColorTerra: #2e1f27;
$ColorPrincipal: white;
$ColorSecundario: black;
$ColorArena: #a8741a;
$ColorCafe: #815355;
$ColorRosa: #a48060;
$ColorLinea: #e4ddbe;
$ColorGris: #898579;
$ColorPie: #e7e5e1;
$Sombras: rgba(0, 0, 0, 0.1);
$SombrasBox: rgba(0, 0, 0, 0.08);
$TransparenciaPrecios: rgba(255, 255, 255, 0.8);
$BorderRadius: 8px;
